# Cloudflare

CLOUDFLARE_ACCOUNT_ID=

# Unkey

UNKEY_API_ID=
UNKEY_ROOT_API_KEY=

# Groq

GROQ_API_KEY=

# AI Keys

AI_MODEL=
AI_API_KEY=
AI_BASE_URL=
EMBEDDING_MODEL=

# Encryption Key

ENCRYPTION_KEY=